<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" type="text/css"
      href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
<body>

<div class="bootstrap">
    <div class="container">
        <h1>Vidoes Uploader</h1>
        <form method="POST" enctype="multipart/form-data" action="/videos">
            <div class="form-group">
                <label for="inputFile">Select video file to upload</label>
                <input type="file" class="form-control" id="inputFile" name="file" placeholder="File" />
            </div>
            <input type="submit" value="Upload" class="btn btn-default"/>
            <input type="hidden"
                   th:name="${_csrf.parameterName}"
                   th:value="${_csrf.token}"/>
        </form>
    </div>
</div>

</body>
</html>